.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .intro-texts {
        max-width: 31.187rem;
        width: 100%;
        h1 {
            text-align: left;
        }
        p {
            font-size: 1rem;
            text-align: left;
            margin: 0 0 1.2em;
        }

        button {
            margin: 3em 0 0;
        }
    }


    .intro-img {
        img {
            max-width: 36.5rem;
            width: 100%;
        }
    }
    @media (max-width: 1260px) {
        .intro-texts {
            max-width: 47rem;
            p {
                max-width: 45rem;
            }
            }
        .intro-img {
                    margin: 3em auto 0;
                img {
                    margin: 0 auto;
                }
            }
    }
}

.landscapeSection {
    margin: 3em auto 4em;

    li {
        flex-direction: column;
        max-width: 17.3rem;
        flex: 1;
        min-width: 16rem;
    }
    span {
            display: inline-block;
            color: #000;
            font-weight: 700;
            font-size: 2.4rem;
    }
}

.valuesContainer {
    background: url('./../assets/rose-petals-small.svg') no-repeat center;
    background-size: cover;
    background-position: center;
    margin: 0 0 10em;
    padding-top: 5em;
    h2 {
        max-width: 50rem;
            width: 100%;
            text-align: center;
            margin: 0 auto 2.5em;
    }
}