.contactUsSection {
    padding: 10em 0 5em;
    h1 {
        font-size: clamp(2rem, 6vw, 3rem);
        color: #000;
        max-width: 42rem;
        margin-bottom: 1em;
        width: 100%;
        line-height: 130%;
        font-weight: 700;
        letter-spacing: -0.06em;
    }

    ul {
        margin: 1em 0 3.3em;
        li {
            position: relative;
            color: #000;
            margin-bottom: 1em;
            padding-left: 1.8em;
            &:after {
                content: '';
                    background: #FC6326;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    border-radius: 50%;
                    z-index: 1;
                    top: 5px;
                    left: 0;
                }
        }
    }

    img {
        max-width: 33.5rem;
        width: 100%;
    }

        .referForm {
            margin-top: 1.5em;
            flex: 1;
            max-width: 36.5rem;
            width: 100%;
                padding: 2.06rem;
                gap: 8px;
                border-radius: 8px;
                box-shadow: 4px 4px 70px 0px #FC7D4A1A;
                border: 1px solid #FFECE5;
            div {
                display: flex;
                gap: 1em;
                flex-wrap: wrap;
            }
            label {
                flex: 1;
                font-size: 0.875rem;
                margin-bottom: 1em;
    
                input, textarea {
                    display: block;
                    min-width: 13.625rem;
                    width: 100%;
                    padding: 1.25em 1em;
                    border: 1px solid $primary;
                    border-radius: 8px;
                    font-weight: 500;
                    outline: none;
                    margin-top: 0.4em;
    
                    &:hover,
                    &:focus {
                        border-color: $primary;
                        outline: none;
                    }
                }

                textarea {
                    min-height: 10.5rem;
                }
            }
        }
        @media (max-width: 1115px) {
            div.flex-wrap-reverse {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
}