.hero-section {
    .intro-texts {
        max-width: 37rem !important;
    }
}

.overdraftSection {
    h2 {
        max-width: 40rem !important;
        margin-bottom: 1em !important;
    }
    p {
            margin: 0 !important;
        }
}

.ewa {
    display: flex;
    gap: 4em;
    margin-bottom: 15em;
    h2 {
        text-align: left;
    }
    h3 {
        margin-top: 2.5em;
    }
    li {
        width: 10.375rem;
        span {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                background: #FEEBE3;
                display: flex;
                margin-bottom: 1em;
                justify-content: center;
                align-items: center;
            }
    }

    @media (max-width: 1200px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 8em;

        .ewaTexts {
            max-width: 50rem;
            width: 100%;
            margin: 0 auto;
        }
    }
}

.juicePortal {
    margin: 12em auto 10em;
    h2 {
        text-align: left;
    }

    .flexContainerOne {
        margin-bottom: 10em;
        img {
            max-width: 36rem;
            width: 100%;
        }
        .texts {
            max-width: 38rem;
            width: 100%;
    
            p {
                margin-bottom: 0.8em;
            }
        }
    }

        @media(max-width: 1440px) {
            .flexContainerOne {
                justify-content: center;
            }

            label {
                text-align: center;
                display: block;
            }
        }


    .flexContainerTwo {
        li {
            width: 11.125rem;
            span {
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 50%;
                    background: #FEEBE3;
                    display: flex;
                    margin-bottom: 1em;
                    justify-content: center;
                    align-items: center;
                }
        }

        .texts {
            max-width: 36.56rem;
                width: 100%;
        }

        @media (max-width: 1265px) {
            justify-content: center;
            gap: 4rem;
        }
    }
}

.testimonialsSection {
    margin-bottom: 10em;
    h2 {
        margin-bottom: 2.5em;
    }

    li {
        max-width: 22.5rem;
        margin: 0 auto;
        min-width: 20.5rem;
        width: 100%;
        border: 1px solid #FFECE5;
        border-radius: 8px;
        box-shadow: 0px 60px 70px 0px #FC7D4A1A;
        padding: 1em;
        min-height: 19.9rem;

        span {
                width: 3.5rem;
                position: relative;
                height: 3.5rem;
                border-radius: 50%;
                background: #FEEBE3;
                display: flex;
                justify-content: center;
                align-items: center;
                &:after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 60%;
                    left: 0;
                    top: -1.25em;
                    background: $primary;
                }
            }
    }
}