* {
    color: $primary;
    font-weight: 400;
}

.getStartedBtn {
    border-radius: 10px;
    background: $primary !important;
    width: 11.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 1.25em 0;
    transition: all 0.35s ease;
    &:hover {
        background: $orange !important;
    }
}

.hero-section {
    padding: 10em 0 7em;
    display: flex;
    gap: 3em;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .intro-texts {
        max-width: 35rem;
        h1 {
                font-size: 3.375rem;
                font-weight: 700;
                line-height: 130%;
                // letter-spacing: -3.24px;
            }
        
        span {
                color: $orange;
                font-weight: 700;
            }

            p {
                margin: 1em 0 1.8em;
                color: #000;
                font-size: 1.25rem;
                line-height: 1.875rem;

                img {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    margin-left: 0.3em;
                }
            }
    }

    .intro-img {
        img {
            min-width: 28.625rem;
            width: 100%;
            max-width: 44rem;
        }
    }

    @media (max-width: 1370px) {
        display: block;

        .intro-texts {
            margin: 0 auto;
                max-width: 50rem;
            h1 {
                max-width: 50rem;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    font-size: clamp(2.3rem, 6vw, 3.375rem);
            }

            p {
                max-width: 35rem;
                    width: 100%;
                    margin: 1em auto 1.8em;
                    text-align: center;
            }

                button {
                    margin: 0 auto 5em;
                }
        }

        .intro-img {
            img {
                margin: 0 auto;
                min-width: unset;
            }
        }
    }
}

.juicemePlatform {
    padding-top: 6em;
    margin-bottom: 8em;
    background: url('./../assets/rose-petals_bg.svg') no-repeat center;
    background-size: cover;
    background-position: center 15px;
    p {
        text-align: center;
        font-size: 1.125rem;
        max-width: 50rem;
            margin: 0 auto;
            width: 100%;
            line-height: 1.75rem;
    }

    button {
        margin: 2em auto 0;
    }

    img {
        max-width: 55.5rem;
        width: 100%;
    }
}

.addonSection {
    margin-top: 7em;

    p {
        margin: 0 auto;
            max-width: 40rem;
            width: 100%;
            font-size: 1.125rem;
            text-align: center;
            line-height: 1.75rem;
    }

    ul {
        max-width: 20.687rem;
        li {
            padding-bottom: 1em;
            gap: 0.8em;

            p {
                width: 17rem;
            }
        }
        span {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            background: #FEEBE3;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                width: unset;
            }
        }
        p {
                text-align: left;
            font-size: 1rem;
                color: #000;
            }
    }

    img {
        max-width: 31.625rem;
        width: 100%;
    }
}

.businessLeaderSection {
    margin-top: 8em;
    h2 {
        margin-bottom: 7em;
    }
    .card {
        padding: 2.5em;
        min-height: 34rem;
        width: 40%;
        border-radius: 1.5rem;
        background: #F5FFF3;
        img {
                max-width: 30rem;
                width: 100%;
            }
            p {
                margin-bottom: 3.5em;
            }
            &:first-child {
                transform: translateY(-12em);
            }
                &:nth-child(2) {
                    background: #FFF7F4;
                } &:nth-child(3) {
                    background: #FFF4FE;
                transform: translateY(-8em);
                } &:last-child {
                    background: #FFFCEB;
                transform: translateY(4em);
                }
    }

    @media (max-width: 1023px) {
        h2 {
            margin-bottom: 1.5em;
        }
        .card {
            transform: unset !important;
            max-width: 35rem;
            width: 100%;
        }
    }
}

.statsContainer {
    margin: 12em auto 8em;
    gap: 7em;
    row-gap: 5em;
    @media (max-width: 1023px) {
           margin: 7em auto 8em;
        }
    div {
        width: 14.75rem;
    }
    p{
        text-align: center;
        &:first-child {
            font-weight: 700;
            font-size: 3.375rem;
        }
    }
}